force-app/main/default/flows/AB_Update_Availability_Counters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Counters</name>
        <label>Assign Counters</label>
        <locationX>305</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>varMorningCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentLocationDaily.Seats_Available_Morning__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAfternoonCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentLocationDaily.Seats_Available_Afternoon__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Operation_Decision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chAfternoon</name>
        <choiceText>Afternoon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Afternoon</stringValue>
        </value>
    </choices>
    <choices>
        <name>chDecrement</name>
        <choiceText>Decrement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decrement</stringValue>
        </value>
    </choices>
    <choices>
        <name>chFullDay</name>
        <choiceText>Full Day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Day</stringValue>
        </value>
    </choices>
    <choices>
        <name>chIncrement</name>
        <choiceText>Increment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Increment</stringValue>
        </value>
    </choices>
    <choices>
        <name>chMorning</name>
        <choiceText>Morning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Morning</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Operation_Decision</name>
        <label>Operation Decision</label>
        <locationX>443</locationX>
        <locationY>533</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Increment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOperationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chIncrement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slot_Decision_Increment</targetReference>
            </connector>
            <label>Increment</label>
        </rules>
        <rules>
            <name>Decrement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOperationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chDecrement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slot_Decision_Decrement</targetReference>
            </connector>
            <label>Decrement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Slot_Decision_Decrement</name>
        <label>Slot Decision Decrement</label>
        <locationX>557</locationX>
        <locationY>204</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Morning_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSlotAssigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chMorning</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrement_Morning_Counter</targetReference>
            </connector>
            <label>Morning</label>
        </rules>
        <rules>
            <name>Afternoon_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSlotAssigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chAfternoon</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrement_Afternoon_Counter</targetReference>
            </connector>
            <label>Afternoon</label>
        </rules>
        <rules>
            <name>Full_Day_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSlotAssigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chFullDay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrement_Full_Day_Counter</targetReference>
            </connector>
            <label>Full Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>Slot_Decision_Increment</name>
        <label>Slot Decision Increment</label>
        <locationX>551</locationX>
        <locationY>886</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Morning_inc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSlotAssigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chMorning</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Morning_Counter</targetReference>
            </connector>
            <label>Morning</label>
        </rules>
        <rules>
            <name>Afternoon_inc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSlotAssigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chAfternoon</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Afternoon_Counter</targetReference>
            </connector>
            <label>Afternoon</label>
        </rules>
        <rules>
            <name>Full_Day_inc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSlotAssigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chFullDay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Full_Day_Counter</targetReference>
            </connector>
            <label>Full Day</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>varRequestedSlot</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Requested_Slot__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fDecrementAfternoonCounter</name>
        <dataType>Number</dataType>
        <expression>IF({!varAfternoonCounter}&gt; 0, {!varAfternoonCounter}- 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fDecrementMorningCounter</name>
        <dataType>Number</dataType>
        <expression>IF( {!varMorningCounter}&gt; 0, {!varMorningCounter} - 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fIncrementAfternoonCounter</name>
        <dataType>Number</dataType>
        <expression>{!varAfternoonCounter} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fIncrementMorningCounter</name>
        <dataType>Number</dataType>
        <expression>{!varMorningCounter} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>AB - Update Availability Counters {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AB - Update Availability Counters</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurrentLocationDaily</name>
        <label>getCurrentLocationDaily</label>
        <locationX>160</locationX>
        <locationY>531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Counters</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationDailyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location_Daily_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Decrement_Afternoon_Counter</name>
        <label>Decrement Afternoon Counter</label>
        <locationX>983</locationX>
        <locationY>204</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentLocationDaily.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Seats_Available_Afternoon__c</field>
            <value>
                <elementReference>fDecrementAfternoonCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Location_Daily_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Decrement_Full_Day_Counter</name>
        <label>Decrement Full Day Counter</label>
        <locationX>833</locationX>
        <locationY>362</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentLocationDaily.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Seats_Available_Afternoon__c</field>
            <value>
                <elementReference>fDecrementAfternoonCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seats_Available_Morning__c</field>
            <value>
                <elementReference>fDecrementMorningCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Location_Daily_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Decrement_Morning_Counter</name>
        <label>Decrement Morning Counter</label>
        <locationX>835</locationX>
        <locationY>50</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentLocationDaily.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Seats_Available_Morning__c</field>
            <value>
                <elementReference>fDecrementMorningCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Location_Daily_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Afternoon_Counter</name>
        <label>Increment Afternoon Counter</label>
        <locationX>973</locationX>
        <locationY>889</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationDailyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Seats_Available_Afternoon__c</field>
            <value>
                <elementReference>fIncrementAfternoonCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Location_Daily_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Full_Day_Counter</name>
        <label>Increment Full Day Counter</label>
        <locationX>814</locationX>
        <locationY>1078</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationDailyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Seats_Available_Afternoon__c</field>
            <value>
                <elementReference>fIncrementAfternoonCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seats_Available_Morning__c</field>
            <value>
                <elementReference>fIncrementMorningCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Location_Daily_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Morning_Counter</name>
        <label>Increment Morning Counter</label>
        <locationX>828</locationX>
        <locationY>680</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationDailyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Seats_Available_Morning__c</field>
            <value>
                <elementReference>fIncrementMorningCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Location_Daily_Info__c</object>
    </recordUpdates>
    <start>
        <locationX>37</locationX>
        <locationY>531</locationY>
        <connector>
            <targetReference>getCurrentLocationDaily</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAfternoonCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varLocationDailyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMorningCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOperationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSlotAssigned</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
