force-app/main/default/flows/Book_Slot_at_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Employee_Req_Approval</description>
        <name>Employee_req_Approval</name>
        <label>Employee_Req_Approval</label>
        <locationX>2314</locationX>
        <locationY>351</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Request_Under_Approval</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>varRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Confirmation_Mail</name>
        <label>Send Confirmation Mail</label>
        <locationX>2739</locationX>
        <locationY>62</locationY>
        <actionName>Employee_Request__c.Employee_Request_PreApproved</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varRequestId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendEmailtoUser</name>
        <label>sendEmailtoUser</label>
        <locationX>2855</locationX>
        <locationY>230</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subjectEmailTemplate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_First_Counters</name>
        <label>Assign First Counters</label>
        <locationX>676</locationX>
        <locationY>59</locationY>
        <assignmentItems>
            <assignToReference>varAfternoonCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Daily.Seats_Available_Afternoon__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMorningCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Daily.Seats_Available_Morning__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDateRequested</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Daily.Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocationDailyInfoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Daily.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Check_Availability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Variables</name>
        <label>Assign Initial Variables</label>
        <locationX>361</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>varSlotRequested</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOfficeSlot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Daily</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Second_Counter</name>
        <label>Assign Second Counter</label>
        <locationX>2118</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>varAfternoonCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Location_Daily.Seats_Available_Afternoon__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMorningCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Location_Daily.Seats_Available_Morning__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Slot_Type_Initial_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRequestData</name>
        <label>AssignRequestData</label>
        <locationX>1727</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>varBusinessCriticalFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Business_Critical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOkFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AreYouOk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrivacyFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrivacyCompliance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTemperatureFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Temperature</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReasonForRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Request</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRiskTravelFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>High_Risk_Travel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribute_for_Stage3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribute_for_Stage1</name>
        <label>Attribute for Stage1</label>
        <locationX>50</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myScreen1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribute_for_Stage2</name>
        <label>Attribute for Stage2</label>
        <locationX>1477</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribute_for_Stage3</name>
        <label>Attribute for Stage3</label>
        <locationX>1817</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Admission_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribute_for_Stage5</name>
        <label>Attribute for Stage5</label>
        <locationX>1931</locationX>
        <locationY>1161</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Admission_Denied_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Afternoon</name>
        <choiceText>Afternoon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Afternoon</stringValue>
        </value>
    </choices>
    <choices>
        <name>Decrement</name>
        <choiceText>Decrement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decrement</stringValue>
        </value>
    </choices>
    <choices>
        <name>FullDay</name>
        <choiceText>Full Day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Day</stringValue>
        </value>
    </choices>
    <choices>
        <name>Increment</name>
        <choiceText>Increment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Increment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Morning</name>
        <choiceText>Morning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Morning</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Admission_Status</name>
        <label>Admission Status</label>
        <locationX>1915</locationX>
        <locationY>235</locationY>
        <defaultConnector>
            <targetReference>Update_Request_Under_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Not_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessCriticalFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOkFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRiskTravelFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPrivacyFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTemperatureFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approved_Request</targetReference>
            </connector>
            <label>Approval Not Required</label>
        </rules>
        <rules>
            <name>Admission_Denied</name>
            <conditionLogic>1 OR 2 OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>varTemperatureFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOkFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRiskTravelFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPrivacyFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Denied_Request</targetReference>
            </connector>
            <label>Admission Denied</label>
        </rules>
    </decisions>
    <decisions>
        <description>Used to check if Location Daily Info from Get_Daily is empty before try assignment.</description>
        <name>Check_returned_get_record</name>
        <label>Check returned get record</label>
        <locationX>462</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Assign_First_Counters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RecordFound</defaultConnectorLabel>
        <rules>
            <name>RecordIsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Daily.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>RecordIsNotFound</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the returned value by getRecord is ok (Daily Info)</description>
        <name>Daily_Info_returned_value_is_OK</name>
        <label>Daily Info returned value is OK ?</label>
        <locationX>1912</locationX>
        <locationY>607</locationY>
        <defaultConnector>
            <targetReference>Assign_Second_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ReturnedRecordOK</defaultConnectorLabel>
        <rules>
            <name>ReturnedRecordOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Updated_Location_Daily.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorScreenDailyInfoUpdate</targetReference>
            </connector>
            <label>ReturnedRecordKO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Check_Availability</name>
        <label>Final Check Availability</label>
        <locationX>671</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Slot_Not_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Slot Not Available</defaultConnectorLabel>
        <rules>
            <name>Slot_Available</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5) OR (6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>varSlotRequested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FullDay</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAfternoonCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMorningCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSlotRequested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Morning</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMorningCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSlotRequested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Afternoon</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAfternoonCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Request</targetReference>
            </connector>
            <label>Slot Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Slot_Type_Initial_Selection</name>
        <label>Slot Type Initial Selection</label>
        <locationX>1920</locationX>
        <locationY>786</locationY>
        <defaultConnector>
            <targetReference>Increment_Full_Day_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Morning_Initial_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSlotRequested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Morning</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Morning_Counter</targetReference>
            </connector>
            <label>Morning Initial Selection</label>
        </rules>
        <rules>
            <name>Afternoon_Initial_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSlotRequested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Afternoon</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Afternoon_Counter</targetReference>
            </connector>
            <label>Afternoon Initial Selection</label>
        </rules>
        <rules>
            <name>Full_Day_Initial_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSlotRequested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FullDay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Full_Day_Counter</targetReference>
            </connector>
            <label>Full Day Initial Selection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Slot_Type_Selection</name>
        <label>Slot Type Selection</label>
        <locationX>1025</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>Update_Full_Day_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Morning_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Request.Requested_Slot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Morning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Morning_Counter</targetReference>
            </connector>
            <label>Morning Selection</label>
        </rules>
        <rules>
            <name>Afternoon_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Request.Requested_Slot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Afternoon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Afternoon_Counter</targetReference>
            </connector>
            <label>Afternoon Selection</label>
        </rules>
        <rules>
            <name>Full_Day_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Request.Requested_Slot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Day</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Full_Day_Counter</targetReference>
            </connector>
            <label>Full Day Selection</label>
        </rules>
    </decisions>
    <description>With BR Screen Addition
Version 21 is the functioning version (NO MASTER-DETAIL)</description>
    <dynamicChoiceSets>
        <name>ReasonforRequest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Request__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varSlot</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Requested_Slot__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fDecrementAfternoonCounter</name>
        <dataType>Number</dataType>
        <expression>IF({!varAfternoonCounter}&gt; 0, {!varAfternoonCounter}- 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fDecrementMorningCounter</name>
        <dataType>Number</dataType>
        <expression>IF( {!varMorningCounter}&gt; 0, {!varMorningCounter} - 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fIncrementAfternoonCounter</name>
        <dataType>Number</dataType>
        <expression>{!varAfternoonCounter} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fIncrementMorningCounter</name>
        <dataType>Number</dataType>
        <expression>{!varMorningCounter} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>getTodayforAutomaticApproval</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Book Slot at Location {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Book Slot at Location</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Request</name>
        <label>Create Booking Request</label>
        <locationX>882</locationX>
        <locationY>206</locationY>
        <assignRecordIdToReference>varRequestId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Booking__c</field>
            <value>
                <elementReference>varLocationDailyInfoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>varOfficeLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Date__c</field>
            <value>
                <elementReference>varDateRequested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Slot__c</field>
            <value>
                <elementReference>varSlotRequested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Daily</name>
        <label>Get Daily Location Info</label>
        <locationX>362</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_returned_get_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOfficeLocationDailyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOfficeLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location_Daily_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Request</name>
        <label>Get Request</label>
        <locationX>957</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Slot_Type_Selection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Location_Daily</name>
        <label>Get Updated Location Daily</label>
        <locationX>1768</locationX>
        <locationY>560</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Daily_Info_returned_value_is_OK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreenDailyInfoUpdate</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationDailyInfoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location_Daily_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUserEmail</name>
        <label>getUserEmail</label>
        <locationX>2546</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Confirmation_Mail</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Increment_Afternoon_Counter</name>
        <label>Increment Afternoon Counter</label>
        <locationX>2231</locationX>
        <locationY>921</locationY>
        <connector>
            <targetReference>Attribute_for_Stage5</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Location_Daily.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Seats_Available_Afternoon__c</field>
            <value>
                <elementReference>fIncrementAfternoonCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Location_Daily_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Full_Day_Counter</name>
        <label>Increment Full Day Counter</label>
        <locationX>1614</locationX>
        <locationY>937</locationY>
        <connector>
            <targetReference>Attribute_for_Stage5</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Location_Daily.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Seats_Available_Afternoon__c</field>
            <value>
                <elementReference>fIncrementAfternoonCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seats_Available_Morning__c</field>
            <value>
                <elementReference>fIncrementMorningCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Location_Daily_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Morning_Counter</name>
        <label>Increment Morning Counter</label>
        <locationX>1931</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Attribute_for_Stage5</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Location_Daily.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Seats_Available_Morning__c</field>
            <value>
                <elementReference>fIncrementMorningCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Location_Daily_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Afternoon_Counter</name>
        <label>Update Afternoon Counter</label>
        <locationX>1351</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Attribute_for_Stage2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreenDailyInfoUpdate</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Daily.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Seats_Available_Afternoon__c</field>
            <value>
                <elementReference>fDecrementAfternoonCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Location_Daily_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approved_Request</name>
        <label>Update Approved Request</label>
        <locationX>2172</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>QRCode_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved_Date__c</field>
            <value>
                <elementReference>getTodayforAutomaticApproval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Critical__c</field>
            <value>
                <elementReference>varBusinessCriticalFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Risk_Zone__c</field>
            <value>
                <elementReference>varRiskTravelFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Policy__c</field>
            <value>
                <elementReference>varPrivacyFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Request__c</field>
            <value>
                <elementReference>varReasonForRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Self_Quarantined__c</field>
            <value>
                <elementReference>varOkFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temperature_Self_check__c</field>
            <value>
                <elementReference>varTemperatureFlag</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Denied_Request</name>
        <label>Update Denied Request</label>
        <locationX>1856</locationX>
        <locationY>413</locationY>
        <connector>
            <targetReference>Get_Updated_Location_Daily</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Critical__c</field>
            <value>
                <elementReference>varBusinessCriticalFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Risk_Zone__c</field>
            <value>
                <elementReference>varRiskTravelFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Policy__c</field>
            <value>
                <elementReference>varPrivacyFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Request__c</field>
            <value>
                <elementReference>varReasonForRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Self_Quarantined__c</field>
            <value>
                <elementReference>varOkFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temperature_Self_check__c</field>
            <value>
                <elementReference>varTemperatureFlag</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Full_Day_Counter</name>
        <label>Update Full Day Counter</label>
        <locationX>1232</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Attribute_for_Stage2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreenDailyInfoUpdate</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Daily.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Seats_Available_Afternoon__c</field>
            <value>
                <elementReference>fDecrementAfternoonCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seats_Available_Morning__c</field>
            <value>
                <elementReference>fDecrementMorningCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Location_Daily_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Morning_Counter</name>
        <label>Update Morning Counter</label>
        <locationX>1306</locationX>
        <locationY>295</locationY>
        <connector>
            <targetReference>Attribute_for_Stage2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreenDailyInfoUpdate</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Daily.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Seats_Available_Morning__c</field>
            <value>
                <elementReference>fDecrementMorningCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Location_Daily_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Request_Under_Approval</name>
        <label>Update Request Under Approval</label>
        <locationX>2171</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Employee_req_Approval</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Critical__c</field>
            <value>
                <elementReference>varBusinessCriticalFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Risk_Zone__c</field>
            <value>
                <elementReference>varRiskTravelFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Policy__c</field>
            <value>
                <elementReference>varPrivacyFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Request__c</field>
            <value>
                <elementReference>varReasonForRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Self_Quarantined__c</field>
            <value>
                <elementReference>varOkFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Under Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temperature_Self_check__c</field>
            <value>
                <elementReference>varTemperatureFlag</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Admission_Denied_Screen</name>
        <label>Admission Denied Screen</label>
        <locationX>1931</locationX>
        <locationY>1306</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Progress3c</name>
            <extensionName>c:ProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AdmissionDenied</name>
            <fieldText>&lt;p&gt;ADMISSION DENIED. &lt;/p&gt;&lt;p&gt;Please contact your medical doctor if you are feeling ill or seek for advise.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>You got an error, maybe you can try to choose a different slot.</description>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>250</locationX>
        <locationY>49</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowError</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;{!showInfoOnError}
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreenDailyInfoUpdate</name>
        <label>Error Daily Info update</label>
        <locationX>1124</locationX>
        <locationY>597</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorUpdatingLocationDailyInfo</name>
            <fieldText>&lt;p&gt;{!showInfoOnError}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error while updating Daily Info Record, maybe it is not available&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>myScreen1</name>
        <label>myScreen1</label>
        <locationX>228</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Initial_Variables</targetReference>
        </connector>
        <fields>
            <name>Progress1</name>
            <extensionName>c:ProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>bookAtLocation</name>
            <extensionName>c:screenFlowLWC1</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varOfficeLocationId</assignToReference>
                <name>locationValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varOfficeSlot</assignToReference>
                <name>clickedButtonLabel</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varOfficeLocationDailyId</assignToReference>
                <name>dateValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>QRCode_Screen</name>
        <label>QRCode Screen</label>
        <locationX>2433</locationX>
        <locationY>62</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getUserEmail</targetReference>
        </connector>
        <fields>
            <name>Progress3</name>
            <extensionName>c:ProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>thankYouMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Thank you!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;An email will be sent to you once the request is approved. Please use the attached QR Code to check-in to the office.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QRCodeImg</name>
            <extensionName>c:qrcodeGenerator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Data</name>
        <label>Request Data</label>
        <locationX>1554</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignRequestData</targetReference>
        </connector>
        <fields>
            <name>Progress2</name>
            <extensionName>c:ProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CheckInText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Please complete all of the required data to confirm your visit.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PrivacyCompliance</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>In compliance with the Italian legislative Decree no. 196 dated 30/06/2003, I authorize the use and process of my personal details.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>businessDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Business Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_for_Request</name>
            <choiceReferences>ReasonforRequest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for request</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_Business_Critical</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Is your visit Business Critical</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>theQuarantine</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Quarantine&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AreYouOk</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I am not currently required to self-quarantine</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>theChecks</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Check all that apply to you&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Temperature</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>My temperature is below 37.5</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>High_Risk_Travel</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I&apos;ve not travelled to a high risk location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Under_Approval</name>
        <label>Request Under Approval</label>
        <locationX>2602</locationX>
        <locationY>351</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Progress3b</name>
            <extensionName>c:ProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UnderApproval</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Your request is under approval. Please check later for status changes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Slot_Not_Available</name>
        <label>Slot Not Available</label>
        <locationX>677</locationX>
        <locationY>516</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SlotNotAvailable</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The slot is no longer available, please select another slot or day.&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Step1</name>
        <isActive>true</isActive>
        <label>Step1</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>Step2</name>
        <isActive>true</isActive>
        <label>Step2</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Step3</name>
        <isActive>true</isActive>
        <label>Step3</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Step4</name>
        <isActive>false</isActive>
        <label>Step4</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Step5</name>
        <isActive>false</isActive>
        <label>Step5</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>219</locationX>
        <locationY>207</locationY>
        <connector>
            <targetReference>Attribute_for_Stage1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Increment_Counters</name>
        <label>Increment Counters</label>
        <locationX>1422</locationX>
        <locationY>106</locationY>
        <flowName>AB_Update_Availability_Counters</flowName>
        <inputAssignments>
            <name>varLocationDailyId</name>
        </inputAssignments>
        <inputAssignments>
            <name>varOperationType</name>
        </inputAssignments>
        <inputAssignments>
            <name>varSlotAssigned</name>
            <value>
                <elementReference>Get_Request.Requested_Slot__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>This  body is used when an email should be send after a request has been approved WITHOUT manager approval requirement.</description>
        <name>bodyEmailTemplate</name>
        <text>&lt;p&gt;Your request for {!varLocationId} on {!varDateRequested} for slot {!varSlotRequested} has been accepted.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please keep this email or the mobile up to complete the check-in process.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your QRCode:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Request.QR_Code__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Text used when the user choose a wrong location</description>
        <name>showInfoOnError</name>
        <text>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;We apologize for the error. Something went wrong with this flow.
Your admin has received an email about this error and will take care of it.



&lt;/pre&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This subject is used when an email should be send after a request has been approved WITHOUT manager approval requirement.</description>
        <name>subjectEmailTemplate</name>
        <text>&lt;p&gt;Request {!varRequestId} has been accepted !&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varAfternoonCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varBusinessCriticalFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDateRequested</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLocationDailyInfoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMorningCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOfficeLocationDailyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOfficeLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOfficeSlot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOkFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrivacyFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReasonForRequest</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRiskTravelFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSlotRequested</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTemperatureFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Email of the user requesting access to office.</description>
        <name>varUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>fUserId</elementReference>
        </value>
    </variables>
</Flow>
