force-app/main/default/flows/Cancel_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>283</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>varRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Request.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Request.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocationDailyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Request.Location_Booking__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestedSlot</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Request.Requested_Slot__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chDecrement</name>
        <choiceText>Decrement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decrement</stringValue>
        </value>
    </choices>
    <choices>
        <name>chIncrement</name>
        <choiceText>Increment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Increment</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>432</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>CancelKO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Ok</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>Status Ok</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>varStatusPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Cancel Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Request</name>
        <label>Get Request</label>
        <locationX>214</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Location_Booking__c</queriedFields>
        <queriedFields>Requested_Slot__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>591</locationX>
        <locationY>232</locationY>
        <connector>
            <targetReference>Increment_Counters</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Cancel_Ok</name>
        <label>Cancel Ok</label>
        <locationX>1061</locationX>
        <locationY>232</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CancelOkText</name>
            <fieldText>&lt;p&gt;Request Cancelled Successfully!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CancelKO</name>
        <label>CancelKO</label>
        <locationX>561</locationX>
        <locationY>531</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CancelKoText</name>
            <fieldText>&lt;p&gt;You cannot cancel the Request at this time, Request Status not correct: {!varStatus}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>525</locationX>
        <locationY>44</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;Ooops, there was an error. Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>58</locationX>
        <locationY>191</locationY>
        <connector>
            <targetReference>Get_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Increment_Counters</name>
        <label>Increment Counters</label>
        <locationX>808</locationX>
        <locationY>232</locationY>
        <connector>
            <targetReference>Cancel_Ok</targetReference>
        </connector>
        <flowName>AB_Update_Availability_Counters</flowName>
        <inputAssignments>
            <name>varLocationDailyId</name>
            <value>
                <elementReference>varLocationDailyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOperationType</name>
            <value>
                <elementReference>chIncrement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSlotAssigned</name>
            <value>
                <elementReference>varRequestedSlot</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLocationDailyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRequestedSlot</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
