force-app/main/default/flows/CheckIn_at_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Check_In_Variables</name>
        <label>Assign Check In Variables</label>
        <locationX>927</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>varPrivacy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Privacy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTemperature</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Temperature_acquired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mask_Provided</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGloves</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gloves_provided</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Admit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reason</name>
        <label>Assign Reason</label>
        <locationX>1279</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>varRejectionReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_denial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Request_Denied</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record</name>
        <label>Assign Record</label>
        <locationX>276</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>varRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Request.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Request.Location__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMaskQuantityAtLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Request.Location__r.Mask_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGlovesQuantityAtLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Request.Location__r.Gloves_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Request_Approved</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Admit</name>
        <label>Admit</label>
        <locationX>919</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>Check_In_Denied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Admitted</defaultConnectorLabel>
        <rules>
            <name>Admitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrivacy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTemperature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGloves</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkAssignedPPE</targetReference>
            </connector>
            <label>Admitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkAssignedPPE</name>
        <label>checkAssignedPPE</label>
        <locationX>798</locationX>
        <locationY>766</locationY>
        <defaultConnector>
            <targetReference>Check_In_Denied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OnlyMask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mask_Provided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gloves_provided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLoicationPPEMask</targetReference>
            </connector>
            <label>OnlyMask</label>
        </rules>
        <rules>
            <name>OnlyGloves</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gloves_provided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Mask_Provided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLocationPPEGloves</targetReference>
            </connector>
            <label>OnlyGloves</label>
        </rules>
        <rules>
            <name>Mask_Gloves</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gloves_provided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Mask_Provided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLocationPPEBoth</targetReference>
            </connector>
            <label>Mask&amp;Gloves</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Request_Approved</name>
        <label>Is Request Approved?</label>
        <locationX>388</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>CheckIn_Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Approved</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_is_not_approved</targetReference>
            </connector>
            <label>Not Approved</label>
        </rules>
        <rules>
            <name>Outdated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checked In</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_outdated</targetReference>
            </connector>
            <label>Outdated</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ReasonForRejection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rejection_Reason__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>decrementGlovesFormula</name>
        <dataType>Number</dataType>
        <expression>{!varGlovesQuantityAtLocation} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>decrementMaskFormula</name>
        <dataType>Number</dataType>
        <expression>{!varMaskQuantityAtLocation} - 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CheckIn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CheckIn at Location</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Request</name>
        <label>Get Request</label>
        <locationX>149</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Request_Admitted</name>
        <label>Update Request Admitted</label>
        <locationX>806</locationX>
        <locationY>1233</locationY>
        <connector>
            <targetReference>AdmittedScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gloves__c</field>
            <value>
                <elementReference>varGloves</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mask__c</field>
            <value>
                <elementReference>varMask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Policy__c</field>
            <value>
                <elementReference>varPrivacy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Checked In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temperature__c</field>
            <value>
                <elementReference>varTemperature</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Request_Denied</name>
        <label>Update Request Denied</label>
        <locationX>1279</locationX>
        <locationY>632</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gloves__c</field>
            <value>
                <elementReference>varGloves</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mask__c</field>
            <value>
                <elementReference>varMask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Policy__c</field>
            <value>
                <elementReference>varPrivacy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Reason__c</field>
            <value>
                <elementReference>varRejectionReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temperature__c</field>
            <value>
                <elementReference>varTemperature</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateLocationPPEBoth</name>
        <label>updateLocationPPEBoth</label>
        <locationX>628</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_Request_Admitted</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gloves_quantity__c</field>
            <value>
                <elementReference>decrementGlovesFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mask_quantity__c</field>
            <value>
                <elementReference>decrementMaskFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Location__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateLocationPPEGloves</name>
        <label>updateLocationPPEGloves</label>
        <locationX>967</locationX>
        <locationY>997</locationY>
        <connector>
            <targetReference>Update_Request_Admitted</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gloves_quantity__c</field>
            <value>
                <elementReference>decrementGlovesFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Location__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateLoicationPPEMask</name>
        <label>updateLocationPPEMask</label>
        <locationX>806</locationX>
        <locationY>994</locationY>
        <connector>
            <targetReference>Update_Request_Admitted</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mask_quantity__c</field>
            <value>
                <elementReference>decrementMaskFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Location__c</object>
    </recordUpdates>
    <screens>
        <name>AdmittedScreen</name>
        <label>Admitted Screen</label>
        <locationX>805</locationX>
        <locationY>1378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>showAdmittedScreen</name>
            <fieldText>&lt;p&gt;You have been admitted !!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_In_Denied</name>
        <label>Check In Denied</label>
        <locationX>1121</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Reason</targetReference>
        </connector>
        <fields>
            <name>CheckInDenied</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Check In denied.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please specify reason for denied check in.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_for_denial</name>
            <choiceReferences>ReasonForRejection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for denial</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CheckIn_Screen_1</name>
        <label>CheckIn Screen 1</label>
        <locationX>725</locationX>
        <locationY>192</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Check_In_Variables</targetReference>
        </connector>
        <fields>
            <name>CheckInText</name>
            <fieldText>&lt;p&gt;Please proceed to employee check in.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Privacy</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Request.Privacy_Policy__c</elementReference>
            </defaultValue>
            <fieldText>In compliance with the Italian legislative Decree no. 196 dated 30/06/2003, I authorize the use and process of my personal details.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CheckFlags</name>
            <fieldText>&lt;p&gt;Measure the temperature and issue the required PPE, and check all flags that apply:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Temperature_acquired</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Temperature acquired</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mask_Provided</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Mask provided</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gloves_provided</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Gloves provided</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_is_not_approved</name>
        <label>Request is not approved</label>
        <locationX>584</locationX>
        <locationY>637</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RequestNotApporoved</name>
            <fieldText>&lt;p&gt;The request is not approved, access not allowed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_outdated</name>
        <label>Request outdated</label>
        <locationX>227</locationX>
        <locationY>639</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RequestOutdated</name>
            <fieldText>&lt;p&gt;The request is outdated. Access not allowed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>25</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Get_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGloves</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGlovesQuantityAtLocation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMaskQuantityAtLocation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPrivacy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRejectionReason</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTemperature</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
