force-app/main/default/flows/Location_Set_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Date_to_Collection</name>
        <label>Assign Date to Collection</label>
        <locationX>1597</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>varDaysColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fIncrementalDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDaysCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDecrementDaysCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fIncrementalDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Days_Counter_is_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Duplicate_Collection</name>
        <label>Assign Duplicate Collection</label>
        <locationX>1934</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>varDuplicateLocationDailyIdColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_LocDaily_If_Exists_Multi.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Duplicate_Error</name>
        <label>Assign Duplicate Error</label>
        <locationX>1235</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>varDuplicateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cErrorDuplicateMultiDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Duplicate_Error_Single</name>
        <label>Assign Duplicate Error Single</label>
        <locationX>1212</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>varDuplicateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cErrorDuplicateMultiDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Location_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LocAdm_Collection_Variable</name>
        <label>Assign LocAdm Collection Variable</label>
        <locationX>599</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>varLocationAdminIdColl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Location_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LocAdm_Id_Collection_Variable</name>
        <label>Assign LocAdm Id Collection Variable</label>
        <locationX>592</locationX>
        <locationY>886</locationY>
        <assignmentItems>
            <assignToReference>varLocationAdminIdColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Location_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_Admin_Record_Id</name>
        <label>Assign Location Admin Record Id</label>
        <locationX>628</locationX>
        <locationY>111</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLocationAdminId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Location_Daily</name>
        <label>Assign Location Daily</label>
        <locationX>2287</locationX>
        <locationY>939</locationY>
        <assignmentItems>
            <assignToReference>varLocationDaily.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLoopDay</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocationDaily.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocationDaily.Number_of_Sanifications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNumberSanifications</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocationDaily.Reserved_Daily_Seats__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReservedSeat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocationDaily.Seats_Available_Afternoon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAvailableSeatAfternoon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocationDaily.Seats_Available_Morning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAvailableSeatMorning</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocationDaily.Total_Seats_Afternoon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAvailableSeatAfternoon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocationDaily.Total_Seats_Morning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAvailableSeatMorning</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Location_Daily_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_Daily_Collection</name>
        <label>Assign Location Daily Collection</label>
        <locationX>2181</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>varLocationDailyColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLocationDaily</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Error</name>
        <label>Assign Status Error</label>
        <locationX>948</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>varCompletedError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cErrorStatusAlreadyCompleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Location_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_1</name>
        <label>Assign Variables 1</label>
        <locationX>1197</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>varAvailableSeatAfternoon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLocationAdmin.Total_Seats_Afternoon__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAvailableSeatMorning</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLocationAdmin.Total_Seats_Morning__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLocationAdmin.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLocationAdmin.Number_of_days_requested__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLocationAdmin.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReservedSeat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLocationAdmin.Reserved_Seats__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberSanifications</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLocationAdmin.Number_of_Sanification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLocationAdmin.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDaysColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetLocationAdmin.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLocationAdmin.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDaysCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLocationAdmin.Number_of_days_requested__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Days_in_Range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Variables</name>
        <label>Reset Variables</label>
        <locationX>1236</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>varDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDaysColl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEmptyDateColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDaysCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocationDailyColl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEmptyLocationDailyColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDuplicateLocationDailyIdColl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEmptyColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Location_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cErrorDuplicateMultiDate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The Location Information for some or all of the selected dates already exist and have not been inserted</stringValue>
        </value>
    </constants>
    <constants>
        <name>cErrorStatusAlreadyCompleted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The status for some Location Setup was already completed and could not be run again.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Duplicate_Location_Daily_Exists</name>
        <label>Check Duplicate Location Daily Exists</label>
        <locationX>1523</locationX>
        <locationY>942</locationY>
        <defaultConnector>
            <targetReference>Reset_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDuplicateLocationDailyIdColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Duplicate_Error</targetReference>
            </connector>
            <label>Duplicate Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Insert_Record_Exists</name>
        <label>Check PreInsert Record Exists</label>
        <locationX>1761</locationX>
        <locationY>714</locationY>
        <defaultConnector>
            <targetReference>Check_Duplicate_Location_Daily_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreInsert_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLocationDailyColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Location_Daily</targetReference>
            </connector>
            <label>PreInsert Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Location_Admin_Status</name>
        <label>Check Location Admin Status</label>
        <locationX>954</locationX>
        <locationY>161</locationY>
        <defaultConnector>
            <targetReference>Assign_Variables_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLocationAdmin.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Error</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_LocDaily_Exist_Multi</name>
        <label>Check LocDaily Exist Multi</label>
        <locationX>2108</locationX>
        <locationY>940</locationY>
        <defaultConnector>
            <targetReference>Assign_Location_Daily</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exists</defaultConnectorLabel>
        <rules>
            <name>Exists_Multi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LocDaily_If_Exists_Multi</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Duplicate_Collection</targetReference>
            </connector>
            <label>Exists Multi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_LocDaily_Exist_Single</name>
        <label>Check LocDaily Exist Single</label>
        <locationX>1460</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>Insert_Single_Location_Daily</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Esists</defaultConnectorLabel>
        <rules>
            <name>Exists_Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LocDaily_If_Exists_Single.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Duplicate_Error_Single</targetReference>
            </connector>
            <label>Exists Single</label>
        </rules>
    </decisions>
    <decisions>
        <name>Days_Counter_is_0</name>
        <label>Days Counter is 0</label>
        <locationX>1927</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>Assign_Date_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Counter_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDaysCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Days</targetReference>
            </connector>
            <label>Counter = 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Days_in_Range</name>
        <label>Number of Days in Range</label>
        <locationX>1339</locationX>
        <locationY>160</locationY>
        <defaultConnector>
            <targetReference>Assign_Date_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Days</defaultConnectorLabel>
        <rules>
            <name>Single_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberDays</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LocDaily_If_Exists_Single</targetReference>
            </connector>
            <label>Single Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Multi_vs_Single</name>
        <label>Test Multi vs. Single</label>
        <locationX>415</locationX>
        <locationY>577</locationY>
        <defaultConnector>
            <targetReference>Assign_LocAdm_Id_Collection_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single</defaultConnectorLabel>
        <rules>
            <name>Multi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LocAdm_Collection_Variable</targetReference>
            </connector>
            <label>Multi</label>
        </rules>
    </decisions>
    <formulas>
        <name>fCurrentRecordId</name>
        <dataType>String</dataType>
        <expression>{!$Flow.CurrentRecord}</expression>
    </formulas>
    <formulas>
        <name>fDecrementDaysCounter</name>
        <dataType>Number</dataType>
        <expression>IF({!varDaysCounter}&gt; 0, {!varDaysCounter} - 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fIncrementalDays</name>
        <dataType>Date</dataType>
        <expression>{!varDate} + 1</expression>
    </formulas>
    <interviewLabel>Location Set Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Location Set Up</label>
    <loops>
        <name>Loop_Days</name>
        <label>Loop on Days</label>
        <locationX>1935</locationX>
        <locationY>347</locationY>
        <assignNextValueToReference>varLoopDay</assignNextValueToReference>
        <collectionReference>varDaysColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_LocDaily_If_Exists_Multi</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Insert_Record_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Location_Collection</name>
        <label>Loop Location Collection</label>
        <locationX>778</locationX>
        <locationY>570</locationY>
        <assignNextValueToReference>varLocationAdminId</assignNextValueToReference>
        <collectionReference>varLocationAdminIdColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetLocationAdmin</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Location_Daily</name>
        <label>Create Location Daily</label>
        <locationX>1769</locationX>
        <locationY>945</locationY>
        <connector>
            <targetReference>Check_Duplicate_Location_Daily_Exists</targetReference>
        </connector>
        <inputReference>varLocationDailyColl</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Single_Location_Daily</name>
        <label>Insert Single Location Daily</label>
        <locationX>1349</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Loop_Location_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>varDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>varLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Sanifications__c</field>
            <value>
                <elementReference>varNumberSanifications</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved_Daily_Seats__c</field>
            <value>
                <elementReference>varReservedSeat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seats_Available_Afternoon__c</field>
            <value>
                <elementReference>varAvailableSeatAfternoon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seats_Available_Morning__c</field>
            <value>
                <elementReference>varAvailableSeatMorning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Seats_Afternoon__c</field>
            <value>
                <elementReference>varAvailableSeatAfternoon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Seats_Morning__c</field>
            <value>
                <elementReference>varAvailableSeatMorning</elementReference>
            </value>
        </inputAssignments>
        <object>Location_Daily_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_LocDaily_If_Exists_Multi</name>
        <label>Get LocDaily If Exists Multi</label>
        <locationX>2117</locationX>
        <locationY>754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_LocDaily_Exist_Multi</targetReference>
        </connector>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoopDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location_Daily_Info__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LocDaily_If_Exists_Single</name>
        <label>Get LocDaily If Exists Single</label>
        <locationX>1467</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_LocDaily_Exist_Single</targetReference>
        </connector>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location_Daily_Info__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLocationAdmin</name>
        <label>GetLocationAdmin</label>
        <locationX>787</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Location_Admin_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationAdminId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location_Administration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>931</locationX>
        <locationY>891</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;The process has concluded successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DuplicateError</name>
            <fieldText>&lt;p&gt;{!varDuplicateError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorCompleted</name>
            <fieldText>&lt;p&gt;{!varCompletedError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Test_Multi_vs_Single</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAvailableSeatAfternoon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varAvailableSeatMorning</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCompletedError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDaysColl</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDaysCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>varNumberDays</elementReference>
        </value>
    </variables>
    <variables>
        <name>varDuplicateError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDuplicateLocationDailyIdColl</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmptyColl</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmptyDateColl</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmptyLocationDailyColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Location_Daily_Info__c</objectType>
    </variables>
    <variables>
        <name>varEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLocationAdminId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>fCurrentRecordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>varLocationAdminIdColl</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLocationDaily</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Location_Daily_Info__c</objectType>
    </variables>
    <variables>
        <name>varLocationDailyColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Location_Daily_Info__c</objectType>
    </variables>
    <variables>
        <name>varLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLoopDay</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNumberDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNumberSanifications</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varReservedSeat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
